/* Application CSS Stylesheet */

body {
	padding-top: 70px;
	padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
	position: static;
	display: block;
	margin-bottom: 20px;
}

.theme-showcase > p > .btn {
	margin: 5px 0;
}

.theme-showcase .navbar .container {
	width: auto;
}

.glyphicon-lighter {
	color: darkgray;
}


#stockwatcher-page-wrapper {
	position: relative;
	width: 100%;
}

#stockwatcher-page-container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}




/**
 * "Empty" Bootstrap icon (i.e. transparent placeholder).
 */
.glyphicon-none:before {
	content: "\2122";
	color: transparent !important;
}




/**
 * CSS Animations for fading elements in and out.
 */
.fade-in,
.fade-out {
	-webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s;
	   -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s;
	     -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s;
	        transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s;
}

 .fade-in.ng-hide-remove,
.fade-out.ng-hide-add.ng-hide-add-active {
	opacity: 0;
	display: block !important;
}

.fade-out.ng-hide-add,
 .fade-in.ng-hide-remove.ng-hide-remove-active {
	opacity: 1;
	display: block !important;
}



/**
 * CSS Animations for fading Stock List items in and out.
 */
.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
	-webkit-transition: all linear 0.5s;
	        transition: all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
	opacity: 0;
	/*max-height:0;*/
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
	opacity: 1;
	/*max-height:40px;*/
}



/**
 * CSS Animations for fading pages in and out.
 */
.at-view-fade-in.ng-enter {
	-webkit-transition-property: opacity;
	   -moz-transition-property: opacity;
	     -o-transition-property: opacity;
	        transition-property: opacity;
	-webkit-transition-duration: 0.5s;
	   -moz-transition-duration: 0.5s;
	     -o-transition-duration: 0.5s;
	        transition-duration: 0.5s;
	opacity: 0;
}

.at-view-fade-in.ng-enter-active {
	opacity: 1;
}

.at-view-fade-out.ng-leave {
	-webkit-transition-property: opacity;
	   -moz-transition-property: opacity;
	     -o-transition-property: opacity;
	        transition-property: opacity;
	-webkit-transition-duration: 0.5s;
	   -moz-transition-duration: 0.5s;
	     -o-transition-duration: 0.5s;
	        transition-duration: 0.5s;
	opacity: 1;
}

.at-view-fade-out.ng-leave-active {
	opacity: 0;
}




/**
 * CSS Animations for Bootstrap Glyphicons.
 */

/**
 * Spins the "glyphicon-refresh" icon.
 *
 * Example:
 * <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
 */
.glyphicon-refresh-animate {
	-webkit-animation: spin2 1.2s infinite linear;
	       -animation: spin  1.2s infinite linear;
}

@-webkit-keyframes spin2 {
	from { -webkit-transform: rotate(  0deg); }
	to   { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	from { transform: scale(1)   rotate(0deg); }
	to   { transform: scale(1) rotate(360deg); }
}



/**
 * Bootstrap CSS Modals.
 */
#addStockModal .modal-dialog {
	z-index: 10000;
}



/**
 * Sparkline Line Widget.
 */
.sparkline {
	fill: none;
	stroke: #b3d4fc;
	stroke-width: 0.5px;
}
.sparkcircle.neutral {
	fill: #b3d4fc;
	stroke: none;
}
.sparkcircle.up {
	fill: #0f0;
	stroke: none;
}
.sparkcircle.down {
	fill: #f00;
	stroke: none;
}



/**
 * Sparkline Bar Widget.
 */
.sparkline-bar {
}
.sparkline-bar .bar.positive {
	fill: #428bca; /* steelblue; */ /* Use "primary" color from Bootstrap */
}
.sparkline-bar .bar.negative {
	fill: brown;
}
.sparkline-bar .axis text {
	font: 10px sans-serif;
}
.sparkline-bar .axis path,
.sparkline-bar .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
