<h1>Currencies</h1>

<div>
	Currency Page for <em>Angular StockWatcher</em> (Controller v.{{ controllerVersion }})
</div>


<div class="page-header">
	<h2>Canadian Dollar (CAD)</h2>
</div>

<div class="row">
	<div class="col-sm-6">
		<currency-chart from-currency="CAD" to-currency="USD"></currency-chart>
	</div>
	<div class="col-sm-6">
		<currency-chart from-currency="CAD" to-currency="EUR"></currency-chart>
	</div>
</div>



<div class="page-header">
	<h2>US Dollar (USD)</h2>
</div>

<div class="row">
	<div class="col-sm-6">
		<currency-chart from-currency="USD" to-currency="CAD"></currency-chart>
	</div>
	<div class="col-sm-6">
		<currency-chart from-currency="USD" to-currency="EUR"></currency-chart>
	</div>
</div>
