<h1>Home</h1>

<div>
	Home Page for <em>Stock Watcher</em>
</div>


<div>
	<stock-list></stock-list>
</div>


<div class="page-header">
	<h2>Charts</h2>
</div>

<div class="row">
	<div class="col-sm-6">
		<stock-chart symbol="PG"></stock-chart>
	</div>
	<div class="col-sm-6">
		<stock-chart symbol="T.TO"></stock-chart>
	</div>
	<div class="col-sm-6">
		<stock-chart symbol="BNS.TO"></stock-chart>
	</div>
	<div class="col-sm-6">
		<stock-chart symbol="TD.TO"></stock-chart>
	</div>
</div>



<div class="row">
	<div class="col-sm-6">
		<market-chart-widget></market-chart-widget>
	</div>
	<div class="col-sm-6">
		<div class="page-header">
			<h2>Currencies</h2>
		</div>

		<currency-chart from-currency="CAD" to-currency="USD"></currency-chart>
	</div>
</div>
