<h1>Quote Details</h1>

<div>
	Quote Details Page for <em>Angular StockWatcher</em> (Controller v.{{ controllerVersion }})
</div>

<div class="page-header">
	<h2>{{ stockData.Name }} ({{ stockData.Symbol }})</h2>
</div>

<div class="row">
	<div class="col-sm-4">
		<table class="table table-striped table-condensed">
			<tbody>
				<tr>
					<td><strong>Previous Close:</strong></td>
					<td class="text-right">{{ stockData.PreviousClose | currency }}</td>
				</tr>
				<tr>
					<td><strong>Open:</strong></td>
					<td class="text-right">{{ stockData.Open | currency }}</td>
				</tr>
				<tr>
					<td><strong>Bid:</strong></td>
					<td class="text-right">{{ stockData.Bid }}</td>
				</tr>
				<tr>
					<td><strong>Ask:</strong></td>
					<td class="text-right">{{ stockData.Ask }}</td>
				</tr>
				<tr>
					<td><strong>1-Year Target Estimate:</strong></td>
					<td class="text-right">{{ stockData._1YearTargetPrice | currency }}</td>
				</tr>
				<!--
				<tr>
					<td><strong>Beta:</strong></td>
					<td class="text-right">{{ }}</td>
				</tr>
				<tr>
					<td><strong>Next Earnings Date:</strong></td>
					<td class="text-right">{{ }}</td>
				</tr>
				-->
				<tr>
					<td><strong>Day's Range:</strong></td>
					<td class="text-right">{{ stockData.DaysLow | currency }} - {{ stockData.DaysHigh | currency }}</td>
				</tr>
				<tr>
					<td><strong>52-Week Range:</strong></td>
					<td class="text-right">{{ stockData._52WeekLow | currency }} - {{ stockData._52WeekHigh | currency }}</td>
				</tr>
				<tr>
					<td><strong>Volume:</strong></td>
					<td class="text-right">{{ stockData.Volume | number }}</td>
				</tr>
				<tr>
					<td><strong>Average Daily Volume:</strong></td>
					<td class="text-right">{{ stockData.AverageDailyVolume | number }}</td>
				</tr>
				<tr>
					<td><strong>Market Capitalization:</strong></td>
					<td class="text-right">{{ stockData.MarketCapitalization }}</td>
				</tr>
				<tr>
					<td><strong>P/E (ttm):</strong></td>
					<td class="text-right">{{ stockData.PERatio }}</td>
				</tr>
				<tr>
					<td><strong>EPS (ttm):</strong></td>
					<td class="text-right">{{ stockData.EarningsPerShare }}</td>
				</tr>
				<!--
				<tr>
					<td><strong>Div & Yield:</strong></td>
					<td class="text-right">{{ stockData.DividendYield }}</td>
				</tr>
				-->
			</tbody>
		</table>
	</div>
</div>