<td class="text-right">{{ quote.index + 1 }}</td>
<td>{{ quote.liveData.Symbol }}</td>

<td>{{ quote.liveData.Name }}</td>
<td class="text-right">{{ quote.liveData.LastTradePriceOnly | currency }} {{ quote.liveData.Currency }}</td>
<td class="text-right" ng-class="{ 'text-success': isGain(), 'text-danger': isLoss() }">{{ quote.liveData.Change | currency }}</td>
<td class="text-right" ng-class="isGain() ? 'text-success' : (isLoss() ? 'text-danger' : '')">{{ quote.liveData.ChangeInPercent | percentage:2 }}</td>
<td class="text-right">{{ quote.liveData.DividendYield | percentage:2 }}</td>
<td class="text-right">{{ quote.liveData.PERatio }}</td>
<td class="text-right">{{ quote.liveData.EarningsPerShare | number:2 }}</td>

<!--
<td class="text-right">{{ quote.liveData._52WeekLow | currency }}</td>
<td class="text-right">{{ quote.liveData._52WeekHigh | currency }}</td>
-->
<td class="col-md-1" style="padding: 0;">
	<sparkline-bar class="sparkline-bar" min="{{ quote.liveData._52WeekLow }}" max="{{ quote.liveData._52WeekHigh }}" current="{{ quote.liveData.LastTradePriceOnly }}"></sparkline-bar>
</td>

<!-- <td>{{ quote.liveData.StockExchange }}</td> -->
<td class="col-md-1" style="padding: 0;">
	<sparkline class="sparkline" id="{{ 'sparkline' + quote.yahooSymbol.replace('.', '') }}" symbol="{{ quote.yahooSymbol }}" exchange="{{ quote.liveData.StockExchange }}" yesterday-close-price="{{ quote.liveData.PreviousClose }}"></sparkline>
</td>
<td class="text-center">
	<a href="#/quote/{{ quote.yahooSymbol }}" class="btn btn-default btn-xs" role="button" title="See details about {{ quote.symbol }}">
		<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Details
	</a>
</td>
