<div class="page-header">
	<div class="row">
		<div class="col-sm-8">
			<h2>Watchlist</h2>
		</div>
		<div class="col-sm-4">
			<form class="form-horizontal" role="form">
				<div class="form-group form-group-sm">
					<label class="col-sm-8 control-label" for="refreshInterval">Refresh interval:</label>
					<div class="col-sm-4">
						<select id="refreshInterval" class="form-control" ng-model="refreshInterval" ng-change="refreshIntervalChanged()">
							<option value="30">30 sec</option>
							<option value="60">60 sec</option>
							<option value="300">5 min</option>
							<option value="900">15 min</option>
						</select>
					</div>
				</div>
			</form>
			
		</div>
	</div>
</div>

<div class="row">
	<table class="table table-striped table-condensed">
		<thead>
			<tr>
				<th ng-click="sortOrder = 'liveData.Symbol'; sortReversed = !sortReversed;">Symbol</th>
				<th ng-click="sortOrder = 'liveData.Name'; sortReversed = !sortReversed;">Name</th>
				<th ng-click="sortOrder = 'liveData.LastTradePriceOnly'; sortReversed = !sortReversed;">Trade</th>
				<th ng-click="sortOrder = 'liveData.Change'; sortReversed = !sortReversed;">Change</th>
				<th ng-click="sortOrder = 'liveData.ChangeInPercent'; sortReversed = !sortReversed;">% Change</th>
				<th ng-click="sortOrder = 'liveData.DividendYield'; sortReversed = !sortReversed;">Yield</th>
				<th ng-click="sortOrder = 'liveData.PERatio'; sortReversed = !sortReversed;">P/E</th>
				<th ng-click="sortOrder = 'liveData.EarningsPerShare'; sortReversed = !sortReversed;">EPS</th>
				<th colspan="2" ng-click="sortOrder = 'liveData.DividendYield'; sortReversed = !sortReversed;">52 week-Range</th>
				<th ng-click="sortOrder = 'liveData.StockExchange'; sortReversed = !sortReversed;">Ex</th>
				<th>See more</th>
			</tr>
		</thead>
		<tbody>
			<tr stock-list-item ng-repeat="quote in stockQuotes | orderBy:sortOrder:sortReversed" quote="quote"></tr>
		</tbody>
	</table>
</div>
