<h3>Dividend History</h3>

<div class="row">
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Ex-Dividend Date</th>
					<th class="text-right">Amount</th>
				<tr>
			</thead>
			<tbody>
				<tr class="animate-repeat" ng-repeat="dividendData in dividendHistory track by dividendData.Date">
					<td class="col-md-6">{{ dividendData.Date | date }}</td>
					<td class="col-md-6 text-right">{{ dividendData.Dividends | currency:'$':6 }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
