<div class="page-header">
	<h2>Stock List Partial</h2>
</div>


<div class="row">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Symbol</th>
				<th>Name</th>
				<th>Trade</th>
				<th>Change</th>
				<th>Day's High</th>
				<th>Day's Low</th>
				<th>Year-High</th>
				<th>Year-Low</th>
				<th>Ex</th>
				<th>Vol.</th>
				<th>Mkt. Cap.</th>
				<th>Avg. Dly. Vol.</th>
			</tr>
		</thead>
		<tbody>
			<tr stock-list-item ng-repeat="quote in stockQuotes" quote="quote"></tr>
		</tbody>
	</table>
</div>

<div class="row">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Date</th>
				<th>Value</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="quote in liveQuotes">
				<td>{{ quote[0] | date:"MM/dd/yyyy @ hh:mma" }}</td>
				<td>{{ quote[1] | currency  }}</td>
			</tr>
		</tbody>
	</table>
</div>
