<td>{{ quote.symbol }}</td>

<td>{{ quote.liveData.Name }}</td>
<td>{{ quote.liveData.LastTradePriceOnly | currency }}</td>
<td ng-class="isGain() ? 'text-success' : (isLoss() ? 'text-danger' : '')">{{ quote.liveData.Change | currency }}</td>
<td ng-class="isGain() ? 'text-success' : (isLoss() ? 'text-danger' : '')">{{ quote.liveData.ChangePercentage | percentage:2 }}</td>
<td>{{ quote.liveData.DaysHigh | currency }}</td>
<td>{{ quote.liveData.DaysLow | currency }}</td>
<td>{{ quote.liveData.YearHigh | currency }}</td>
<td>{{ quote.liveData.YearLow | currency }}</td>
<td>{{ quote.liveData.StockExchange }}</td>
<td>{{ quote.liveData.Volume }}</td>
<td>{{ quote.liveData.MarketCapitalization }}</td>
<td>{{ quote.liveData.AverageDailyVolume }}</td>